@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&family=Lato:wght@300;400;700&family=Source+Sans+Pro:wght@300;400&display=swap');


body{
    position: relative;
    padding-top: 150px;
    
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 5;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.content-p{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.6);
}

.nav-1{
    display: flex;
    justify-content: space-between;
}

.nav-1-box-1{
    height: 75px;
    display: flex;
    align-items: center;
}


.nav-1-box-1 p{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 13px 0 0;
    
}

select{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.6);
    border: none;
    width: 70px;
    height: 20px;
    appearance: none;
    background: url(media/nav-1-box-1/arrow.png);
    background-repeat: no-repeat;
    background-position: right top 60%;
    outline: 0;
}

.nav-1-box-2{
    height: 75px;
    display: flex;
    align-items: center;
    margin-left: 500px;
}

.nav-1-box-2 img{
    width: 32px;
    height: 22px;
}

.nav-1-box-3{
    font-family: 'Commissioner', sans-serif;
    width: 610px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-1-box-3{
    color: rgba(0, 0, 0, 0.5);
}

.a1, .viber, .whatsap{
    margin: 0 10px;
}

.mtc{
    margin-left: 20px;
}

.nav-1-box-3 img{
    width: 20px;
    height: 20px;
}


/* ----------------nav-2---------------- */

.nav-2{
    height: 75px;
    display: flex;
    justify-content: space-between;
}

.nav-2-box-1{
    display: flex;
    align-items: center;
}
.nav-2-box-1 img{
    height: 70px;
}

.nav-2-box-2{
    display: flex;

    align-items: center;
}

.nav-2-box-2 a{
    font-family: 'Commissioner', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.75);
    margin: 0 25px;
    position: relative;
}

.nav-2-box-2 a:before{
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0.75);
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition-duration: 1s;

}

.nav-2-box-2 a:hover:before{
    width: 100%;
}

.nav-2-box-2 img{
    width: 17px;
    height: 17px;
}

/* -------------container-1------------- */

.section-1{
    width: 100%;
    position: relative;
    background-color: #E5E5E5;
    overflow: hidden;
    
}



.slider {
    width: 1920px;
    height: 650px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;

}

.slider-btn {
    cursor: pointer;
    position: absolute;
    width: 18px;
    height: 18px;
    padding: 11px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    bottom: 120px;
    z-index: 1;
}
.slider-btn:hover {
    background: rgba(255,255,255,0.2);
}
.prev{
    left: 50%;
    margin-left: -585px;
}
.next{
    right: 50%;
    margin-right: 490px;
}

.img {
    display: none;
}
.img.active {
    display: block;
}
.slider-content {
    max-width: 500px;
    position: absolute;
    top: 210px;
    
    left: 50%;
    margin-left: -585px;
    overflow: hidden;
}


.slider-content h1{
    font-family:'Commissioner', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.9);
}

.slider-content p{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.8);
}

button{
    font-family:'Commissioner', sans-serif;
    width: 200px;
    height: 45px;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    background: #DEC377;
    border-radius: 2px;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
    cursor: pointer;
    opacity: 1;
    transition-duration: 1s;
}

button:hover{
    opacity: 0.6
}


/* -------------section-2-------------- */

.section-2{
    width: 100%;
    position: relative;
    /* min-width: 1920px; */
    

}
.section-2 .container{
    margin-top: -120px;
    display: flex;
    justify-content: space-between;
    
}

.section-2-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    position: static;
    width: 270px;
    height: 285px;
    bottom: 0px;
    z-index: 1;
}

.section-2-card span{
    width: 120px;
    height: 120px;
    bottom: 0px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    box-sizing: border-box;
    margin-top: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

.section-2-card:first-child span{
    background-image: url(media/container-2/container-2-1.png);
}
.section-2-card:nth-child(2) span{
    background-image: url(media/container-2/container-2-2.png);
}
.section-2-card:nth-child(3) span{
    background-image: url(media/container-2/container-2-3.png);
}
.section-2-card:last-child span{
    background-image: url(media/container-2/container-2-4.png);
}


.section-2-card p{
    font-family: 'Lato', sans-serif;
    width: 230px;
    height: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.75);
    margin-bottom: 50px;
}

/* -----------container-3---------------- */

.section-3{
    background-color:#E5E5E5;
    margin-top: -220px;
    width: 100%;
    /* min-width: 1920px; */
}

.section-3-1{
    width: 1170px;
    height: 675px;
    display: flex;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    padding-top: 300px;
    background-color:#E5E5E5;
    
}

.content-section-3-1{
    width: 670px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 70px;
}

.content-section-3-1 h2{
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.9);
}

.content-section-3-1 p{
    width: 470px;
}

.img-section-3-1 img{
    width: 500px;
    height: 675px;
}

/* --------------------container-3-2-------------------- */

.section-3-2{

    position: relative;
    top: 50px;
 
}

.section-3-2 h2{
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.9); 
    margin-top: 100px;  
}

.boxes-section-3-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-section-3-2{
    width: 370px;
    height: 140px;
    background: #FFFFFF;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    position: relative;

}

.box-section-3-2 h5{
    max-width: 180px;
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.9);
    margin: 25px 0 0 40px;
}

.box-section-3-2 a{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 40px;
    bottom: 15px;
}

.img-section-3-2{
    width: 80px;
    height: 80px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    position: absolute;
    right: 15px;
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}





.section-3-2 button{
    margin: 20px 0;
}


.section-3-2-bottom-content{
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
}

.section-3-2-bottom-content-left h2{
    width: 370px;
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.9);
    margin-top: 55px;
}

.section-3-2-bottom-content-right{
    width: 770px;
    margin-top: 50px;
}

/* ------------container-3-3------------ */

.section-3-3{
    width: 1170px;
    position: relative;
    top: 180px;
}

.slider-section-3{
    width: 1170px;
    height: 650px;
    position: relative;

}

.img-section-3{
    position: absolute;
    display: none;
}

.img-section-3.current{
    display: block;
}

.next-section-3, .prev-section-3{
    position: absolute;
}

.next-section-3{
    right: -40px;
    top: 280px;
    z-index: 1;
}

.prev-section-3{
    left: -40px;
    top: 280px;
    z-index: 1;
}



/* ------------container-4----------- */

.section-4{
    position: relative;
    top: 150px;
}

.section-4 h2{
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px; 
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.9);
}

.section-4-1{
    display: flex;
}

.section-4-1-box-1, .section-4-1-box-2{
    width: 570px;
    height: 380px;
    position: relative;
    padding: 140px 50px 65px 50px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}

.section-4-1-box-1{
    margin-right: 30px;
}

.section-4-1-box-1 img, .section-4-1-box-2 img{
    position: absolute;
    top: 0;
    left: 0;
}

.section-4-1-box-1 p, .section-4-1-box-2 p{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;  
    letter-spacing: 0.01em; 
    color: rgba(0, 0, 0, 0.6);
}

.section-4-1-box-1 h3, .section-4-1-box-2 h3{
    font-family: Commissioner, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 40px;
    letter-spacing: 0.01em;
    color: #DEC377;
}

.section-4-1-box-1 a, .section-4-1-box-2 a{
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px; 
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
}

/* ---------------container-4-1-buttons--------------- */

.section-4-1-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.three-buttons{
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 80px;
}

.three-button{
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    margin: 0 5px;
    transition-duration: 1s;

}

.three-button.now{
    background: #DEC377;
}

.next-prev-section-4-1{
    display: flex;
}

.prev-section-4, .next-section-4{
    margin: 0 25px;
    cursor: pointer;
}




/* ------------container-4-2--------------- */


.section-4-2{
    margin-top: 100px;
}

.section-4-2-box-1{
    display: flex;
}

.section-4-2-box-1 p{
    width: 670px;
}

.section-4-2-box-1 button{
    background-color: #FFFFFF;
    color: #DEC377;
    border: 1px solid #DEC377;
    font-weight: bold;
    margin: 20px 0 0 90px;
}

.section-4-2-box-2{
    display: flex;
    justify-content: space-around;
    margin: 40px 0 100px 0;
    
}

.section-4-2-box-2 img{
    filter: grayscale(100%);
}

.section-4-2-box-2 img:first-child{
    width: 196px;
    height: 65px;
    
}

.section-4-2-box-2 img:nth-child(2){
    width: 77px;
    height: 80px;
}

.section-4-2-box-2 img:nth-child(3){
    width: 287px;
    height: 65px;
}

.section-4-2-box-2 img:nth-child(4){
    width: 177.5px;
    height: 70px;
}

.section-4-2-box-2 img:last-child{
    width: 151px;
    height: 65px;
}

/* -------------container-5---------------- */

.section-5{
    width: 100%;
    background-color: #E5E5E5;
    padding: 80px 0;
    position: relative;
    top: 200px;
}

.section-5-box-1{

    display: flex;
    position: relative;
    background-color: #E5E5E5;

}

.section-5-box-1-1, .section-5-box-1-2{
    width: 570px;
    height: 305px;
    padding: 20px 50px 0 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.section-5-box-1-1{
    margin-right: 30px;
}

.section-5-box-1-1 h4, .section-5-box-1-2 h4{
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 45px;
    color: rgba(0, 0, 0, 0.9);
}


.section-5-box-2{
    width: 1070px;
    height: 185px;
    background: #FFFFFF;
    display: flex;
    position: relative;
    padding: 0 50px 0 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    margin-top: 30px;
}

.section-5-box-2 h4{
    font-family:' Commissioner', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 45px;
    color: rgba(0, 0, 0, 0.9);
    margin-right: 30px;
}

.section-5-box-2 p{
    font-family: 'Lato', sans-serif;
    width: 720px;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 45px;
}

.image-section-5{
    width: 1920px;
    margin: 100px auto;
}

/* ------------container-5-2----------------- */

.section-5-2{
    width: 1170px;
    position: relative;
}

.section-5-2 h2{
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.9);
}

.section-5-2-box-left{
    width: 70px;
    height: 140px;
    background-color: #DEC377;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    transition-duration: 1s;
}

.section-5-2-box-left:hover{
    opacity: 0.4;
}

.section-5-2-box-1,
.section-5-2-box-2,
.section-5-2-box-3,
.section-5-2-box-4,
.section-5-2-box-5{
    width: 1170px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.section-5-2 a{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.section-5-2 h5{
    font-family: 'Commissioner', sans-serif;
    max-width: 520px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.9);
    margin-left: 100px;
}

.section-5-2-box-1-1{
    width: 470px;
    height: 140px;
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.section-5-2-box-1-2{
    width: 670px;
    height: 140px;
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.section-5-2-box-2-1{
    width: 570px;
    height: 140px;
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.section-5-2-box-2-2{
    width: 570px;
    height: 140px;
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.section-5-2-box-3-1{
    width: 670px;
    height: 140px;
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.section-5-2-box-3-2{
    width: 470px;
    height: 140px;
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.section-5-2-box-4-1{
    width: 570px;
    height: 140px;
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.section-5-2-box-4-2{
    width: 570px;
    height: 140px;
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.section-5-2-box-5-1{
    width: 470px;
    height: 140px;
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.section-5-2-box-5-2{
    width: 670px;
    height: 140px;
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

/* ---------contanier-5-3--------- */

.section-5-3{
    width: 1170px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    position: relative;

}

.section-5-3 p{
    width: 770px;
}

.section-5-3 button{
    margin-top: 20px;
}

/* ------------container-6-------------- */

.section-6{
    width: 1170px;
    position: relative;
    top: 250px;
}

hr{
    background: rgba(0, 0, 0, 0.1);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.section-6-box-1, .section-6-box-2{
    display: flex;
    margin: 55px 0;
}

.section-6-box-1-1, .section-6-box-2-1{
    width: 470px;
    margin-right: 149px;
}

.section-6-box-1 h2, .section-6-box-2 h2{
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px; 
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.9);
}


.section-6-box-1-2, .section-6-box-2-2{
    position: relative;
}

.section-6-box-1-2 p, .section-6-box-2-2 p{
    font-family: 'Lato', sans-serif;
    max-width: 375px;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.75);
    position: relative;
    left: 70px;
}

.section-6-list{
    display: flex;
    align-items: center;
    position: relative;
}

.section-6-circle{
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(222, 195, 119, 0.4);
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 10px;
}

.section-6-circle:before{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: #DEC377;
    border-radius: 100%;
    position: absolute;
    left: 15px;
    top: 15px;
    transition-duration: 1s;
    cursor: pointer;
}

.section-6-circle:hover:before{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

/* ---------container-7----------- */

.section-7{
    background: #E5E5E5;
    position: relative;
    top: 300px;
    padding: 50px 0;
}

.section-7 > h2{
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px; 
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.9);
    position: relative;
    margin: 15px auto;
    width: 1170px;
}

.section-7-box-1{
    width: 1170px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.section-7-box-1 p{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.75);
}

.section-7-box-1-1,
.section-7-box-1-2,
.section-7-box-1-3,
.section-7-box-1-4{
    width: 270px;
    height: 335px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.section-7-box-1-1{
    margin-left: 0;
}

.section-7-box-1-1 span, 
.section-7-box-1-2 span, 
.section-7-box-1-3 span, 
.section-7-box-1-4 span{
    width: 120px;
    height: 120px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 100%;
    margin: 50px 0 25px 0;
    background-repeat: no-repeat;
    background-position: center;

}

.section-7-box-1-1 span{
    background-image: url(media/container-7-box-1/container-7-box-1-1.png);
}

.section-7-box-1-2 span{
    background-image: url(media/container-7-box-1/container-7-box-1-2.png);
}

.section-7-box-1-3 span{
    background-image: url(media/container-7-box-1/container-7-box-1-3.png);
}

.section-7-box-1-4 span{
    background-image: url(media/container-7-box-1/container-7-box-1-4.png);
}


.section-7-box-1-1 p,
.section-7-box-1-2 p,
.section-7-box-1-3 p,
.section-7-box-1-4 p{
    margin: 0 20px;
}

/* ---------container-7-box-2----------- */

.section-7-box-2{
    width: 1130px;
    height: 130px;
    position: relative;

    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    padding: 20px 0 0 40px;
    margin-top: 40px;
}

.section-7-box-2 p{
    font-family: 'Lato', sans-serif;
    width: 750px;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.6);
}

.triangle-topright{
    width: 0;
	height: 0;
	border-top: 70px solid #DEC377;; 
    border-left: 70px solid transparent;
    position: absolute;
    right: 0;
    top: 0;
}

/* -----------container-7-box-3------------- */

.section-7-box-3{
    width: 1170px;
    display: flex;
    position: relative;
    top: 30px;
}

.section-7-box-3 h2{
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.9);
}

.section-7-box-3-1-1 p, .section-7-box-3-1-2 p{
    font-family: 'Lato', sans-serif;
    max-width: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;   
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.8);
    margin-left: 100px;
}

.section-7-box-3-1-1, .section-7-box-3-1-2{
    display: flex;
    position: relative;
}

.section-7-box-3-1-1:before, .section-7-box-3-1-2:before{
    content: '';
    display: block;
    width: 70px;
    height: 70px;
    border: 1px solid rgba(222, 195, 119, 0.75);
    box-sizing: border-box;
    border-radius: 100%;
    position: absolute;
    top: 15px;
}

.section-7-box-3-1-1:after, .section-7-box-3-1-2:after{
    font-family: Commissioner, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 67px;
    text-align: center;
    color: #DEC377;
    position: absolute;
    left: 30px;
    top: 15px;
}

.section-7-box-3-1-1:after{
    content: '1';
}

.section-7-box-3-1-2:after{
    content: '2';
}

.section-7-box-3-1 > p{
    font-family: 'Lato', sans-serif;
    max-width: 480px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.6);
}

.section-7-box-3-2{
    background-color: #FFFFFF;
    width: 570px;
    height: 345px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 3px; 
    margin-left: 100px;
    margin-top: 30px;
}

.section-7-box-3-2 p{
    max-width: 470px;
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    left: 50px;
    margin-top: 25;
}

.section-7-box-3-2 a{
    color: rgba(0, 0, 0, 0.5);
    text-decoration: underline;
}

.section-7-box-3-2 input{
    width: 470px;
    height: 25px;
    position: relative;
    left: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.section-7-box-3-2 input::placeholder{
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.8);

    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    opacity: 0.6;
}

.section-7-box-3-2 button{
    width: 470px;
    height: 45px;
    position: relative;
    left: 50px;
    margin-top: 30px;
}

/* -------------container-7-box-4-------------- */

.section-7-box-4{
    position: relative;
    margin: 100px auto;

}

.section-7-box-4 h2{
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;  
    letter-spacing: 0.03em;
}

.section-7-box-4 p{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.6);
    margin: 20px 0;
    max-width: 700px;
}

/* ------------container-7-box-5---------- */

.section-7-box-5{
    width: 1170px;
    display: flex;
    position: relative;
    margin-top: 20px;
}

.section-7-box-5-1{
    width: 270px;
}
    
.section-7-box-5-header-1 p{
    font-family: 'Commissioner', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 70px;
}

.section-7-box-5-content-1 p{
    font-family: 'Commissioner', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.5);
}

.section-7-box-5-content-1 span{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.3);
}

.section-7-box-5-content-1-images{
    margin: 60px 0 50px 0;
    display: flex;
    justify-content: space-between;
}

.arrow-1, .arrow-2{
    display: flex;
    align-items: center;
    position: relative;

}

.arrow-1{
    width: 160px;
}

.arrow-2{
    width: 238px;
}

.arrow-1 p, .arrow-2 p{
    max-width: 162px;
    font-family: Lato, sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.arrow-1 img, .arrow-2 img{
    position: absolute;
    right: 0px;
}


.section-7-box-5-2{
    width: 640px;
    margin: 0 30px 0 60px;
}

.section-7-box-5-header-2,
.section-7-box-5-header-3{
    margin-top: 55px;
}

.section-7-box-5-header-2 p,
.section-7-box-5-header-3 p{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
}

.section-7-box-5-header-2 p:before,
.section-7-box-5-header-3 p:before{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0.7;
    position: absolute;
    left: 0;
    bottom: 0;

}

.section-7-box-5-2-content{
    display: flex;
}

.city{
    font-family: 'Commissioner', sans-serif;
    width: 200px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.75);
    margin-bottom: -1em;
    margin-top: 30px;
}

#minsk{
    margin-bottom: 30px;
}

.section-7-box-5-2-content-2{
    margin: 0 35px;
}

.contacts-location{
    font-family: 'Lato', sans-serif;
    width: 200px;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: -1em;
}

#contacts-location{
    width: 150px;
}


.address{
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.75);
    margin-top: 20px;
}

.email{
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.8);
    margin-top: -0.8em
}

#email{
    margin-top: 20px;
}


.section-7-box-5-3{
    width: 170px;
    margin-left: 20px;
}

.section-7-box-5-header-3{
    margin-bottom: 45px;
}

/* -------------container-8---------- */

.section-8{
    height: 55px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 300px;
}

.section-8 p{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.6);
}